* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.nav {
    background-color: white;
    width: 100%;
    height: 130px;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    z-index: 3333;
}

.nav-logo {
    width: 25%;
}

.nav-img {
    width: 50%;
    margin-left: 80px;
}

.media-link {
    width: 50%;
}

.nav-links ul {
    display: flex;
    justify-content: space-around;
    width: 90%;
    font-size: 20px;
    font-weight: bold;

}

.nav-links ul li a {
    color: black;
}

.nav-links ul li:hover a {
    color: rgb(0, 164, 164);
}

.nav-bottom {
    width: 25%;
}

.nav-bottom button {
    width: 60%;
    position: relative;
    color: white;
    padding: 25px 0px;
    background-color: #ff6a37;
    border: 1px solid #ff6a37;
    border-radius: 5px;
    font-size: 18px;
    z-index: 1;
    overflow: hidden;
}

.nav-bottom button span {
    position: absolute;
    right: 39px;
    bottom: 30%;
    width: 30px;
    height: 30px;
    background-color: black;
    border-radius: 5px;
    transition-duration: 1s;
    z-index: -1;

}

.nav-bottom button:hover span {
    transform: scale(12);
}

/*.nav-bottom button:hover span {

    width: calc(100% - 39px);
    height: calc(100% - 30%);
}*/

@media screen and (min-width:600px) and (max-width:1200px) {
    .nav {
        flex-direction: column;

    }

    .nav-logo {
        position: absolute;
        left: 1%;
        width: 27%;
    }

    .media-link {
        background-image: url(images/dropdown-menu-icon-16.jpg);
        width: 0px;
        height: 0px;
        text-align: center;
        border-top: 25px solid black;
        border-right: 25px solid white;
        border-left: 25px solid white;
        border-bottom: 25px solid white;
    }

    .nav-links {
        opacity: 0;
        transition: 1s;
    }

    .nav-links ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        left: 5%;
        top: 90%;
    }

    .nav-links ul {
        background-color: white;
        border-radius: 10px 0;
    }

    .nav-links li {
        padding-bottom: 2%;

    }

    .media-link:hover .nav-links {
        opacity: 1;
    }

    .nav-bottom {
        position: absolute;
        right: 1%;
        width: 20%;
    }

}

/*cover//////////////////////////////////////////////////////*/
.cover {
    width: 100%;
    height: 700px;
    padding-top: 100px;
    background-image: linear-gradient(to right,
            rgb(33, 150, 243, 0.5),
            white,
            rgb(251, 48, 48, 0.5));
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: hidden;
    z-index: -2;
}

/*cover-left*/

.cover-left {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: flex-start;
    margin-left: 9%;
    position: relative;
}

.cover-left,
.p-one,
.p-two,
.p-three,
.cover-button {
    display: flex;
    justify-content: space-around;
}

.cover-left .p-one {
    color: rgb(101, 101, 245);
    font-size: 22px;
    font-weight: 800;
    padding-top: 4%;
    position: relative;
}


.p-one img {
    width: 15%;
    position: absolute;
    left: 0px;
    top: 3%;
}

.cover-left .p-two {
    font-size: 72px;
    font-weight: 900;
    position: relative;
    z-index: 1;
}

.p-two img {
    position: absolute;
    bottom: -5%;
    width: 70%;
    right: 3%;
}

.p-three {
    font-size: 18px;
    color: gray;
}

.cover-button {
    display: flex;
    width: 60%;
    flex-direction: row;
    justify-content: space-between;


}

.cover-button .cover-button-one {
    background-color: #ff6a37;
    border: 1px solid #ff6a37;
    position: relative;
    color: white;
    padding: 25px 25px;
    border-radius: 5px;
    font-size: 18px;
    z-index: 1;
    overflow: hidden;
}

.cover-button .cover-button-one span {
    position: absolute;
    right: 39px;
    bottom: 30%;
    width: 30px;
    height: 30px;
    background-color: black;
    border-radius: 5px;
    z-index: -1;
    transition-duration: 1s;
}

.cover-button .cover-button-two {
    background-color: #000000;
    border: 1px solid #000000;
    position: relative;
    color: white;
    padding: 25px 25px;
    border-radius: 5px;
    font-size: 18px;
    z-index: 1;
    overflow: hidden;
}

.cover-button .cover-button-two span {
    position: absolute;
    right: 39px;
    bottom: 30%;
    width: 30px;
    height: 30px;
    background-color: #ff6a37;
    border-radius: 5px;
    z-index: -1;
    transition-duration: 1s;
}

.cover-button button:hover span {
    transform: scale(12);
    /* width: calc(100% - 39px);
    height: calc(100% - 30%); */
}

.img-eight {
    position: absolute;
    width: 11%;
    height: 11%;
    bottom: 1%;
    left: -15%;
}

/*cover-rihgt*/

.cover-right {
    width: 50%;
    position: relative;
    display: flex;
    flex-direction: row;


}

.img-shape {
    position: absolute;
    width: 45%;
    right: 0;
    top: 13%;
}

.img-one {
    width: 75%;
    height: 90%;
    position: absolute;
    left: 0;
    bottom: 0%;

    z-index: 1;
}

.img-two {
    width: 75%;
    height: 90%;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 2;
}

.img-three {
    width: 34%;
    height: 62px;
    position: absolute;
    left: 2%;
    bottom: 38%;
    z-index: 3;
    box-shadow: 2px 1px 10px 0px;
    border-radius: 8px;
    animation-name: move-icons;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.img-four {
    width: 36%;
    height: 62px;
    position: absolute;
    left: 35%;
    bottom: 20%;
    z-index: 4;
    box-shadow: 2px 1px 10px 0px;
    border-radius: 8px;
    animation-name: move-icons;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-delay: 0.8s;
}

.img-five {
    width: 28%;
    height: 62px;
    position: absolute;
    left: 2%;
    bottom: 4%;
    z-index: 5;
    box-shadow: 2px 1px 10px 0px;
    border-radius: 8px;
    animation-name: move-icons;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes move-icons {
    0% {
        transform: translateX(10px);
        transform: translateY(10px);

    }

    50% {
        transform: translateY(-10px);

        transform: translateX(-10px);

    }

    100% {
        transform: translateX(-10px);
        transform: translateY(-10px);
    }
}

.img-six {
    width: 8%;
    height: 12%;
    position: absolute;
    right: 32%;
    top: 29%;
    z-index: 6;
    animation-name: move-icons-six;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes move-icons-six {
    0% {
        transform: translateY(20px);
    }

    50% {
        transform: translateY(-20px);

    }

    75% {
        transform: translateY(10px);

    }

    100% {
        transform: translateY(-10px);

    }

}

.img-seven {
    position: absolute;
    bottom: 2%;
    right: 18%;
    width: 6%;
    height: 11%;
}

@media screen and (min-width:600px) and (max-width:1200px) {
    .cover {
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-around;
        height: 1200px;
        align-items: center;
    }

    .cover-left {
        width: 75%;
        justify-content: space-between;
        height: 33%;
    }

    .p-one {
        font-size: 18px !important;
    }

    .p-two {
        font-size: 40px !important;
    }

    .cover-button {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .cover-button-one {
        margin-bottom: 4%;
    }


}



/*category///////////////////////////////////////////////////////// */
.category {
    margin-top: 3%;

}

.category h3,
h1 {
    text-align: center;
    margin-top: 2%;
    margin-bottom: 3%;
}

.category h3 {
    font-size: 22px;
    font-weight: bold;
    color: blue;
}

.category h1 {
    font-size: 47px;
    font-weight: bold;
}

.category-parent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
    height: 280px;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

.category-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(188, 184, 184);
    border-radius: 8px;
    height: 100px;
    width: calc(80% / 3);
    position: relative;
    transition-duration: 1s;


}

.category-row img {
    width: 50px;
    height: 50px;
    position: absolute;
    left: 3%;
    bottom: 24%;


}

.img-hover-two {
    display: none;
    transition-duration: 3s;
}

.category-row:hover .img-hover {
    display: none;
}

.category-row:hover .img-hover-two {
    display: block;
}

.category-row:hover {
    background-color: #000000;
    color: white;
}

.child-h {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: absolute;
    left: 26%;
}

.child-h h5 {
    color: rgb(179, 177, 177);
}

@media screen and (min-width:600px) and (max-width:1200px) {
    .category-parent {
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-around;
        width: 80%;
        height: 900px;
        align-items: center;
    }

    .category-row {
        width: 60%;
    }
}

/*///////about-us////////////////////////////////////////////*/
.about-us {
    width: 100%;
    height: 600px;
    margin-top: 6%;
    background-color: #faf4f4;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.baner-left {
    width: 50%;
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.about-img {
    position: absolute;
    width: 90%;
    height: 80%;
    bottom: 1%;
    left: 2%;
    z-index: 0;
}

.about-img-two {
    position: absolute;
    width: 90%;
    height: 90%;
    bottom: 0;
    left: 2%;
    z-index: 1;
}

.about-img-three {
    position: absolute;
    width: 33%;
    height: 10%;
    top: 45%;
    right: 4%;
    z-index: 2;
    box-shadow: 2px 1px 10px 0px;
    border-radius: 8px;
    animation-name: move-icons;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.about-img-four {

    position: absolute;
    width: 22%;
    height: 12%;
    top: 68%;
    right: 12%;
    z-index: 2;
    box-shadow: 2px 1px 10px 0px;
    border-radius: 8px;
    animation-name: move-icons;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.baner-right {
    width: 50%;
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.about-p-one {
    font-size: 30px;
    color: blue;
    font-weight: bold;
}

.about-p-two {
    font-size: 51px;
    font-weight: bold;
}

.about-p-three {
    color: gray;
}

.about-p-four {
    font-weight: bold;
    color: rgb(0, 0, 140);
}

.about-p-four p {
    margin-bottom: 17px;
    position: relative;
}

.about-p-four p::before {
    content: "";
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background-color: #ff6a37;
    position: absolute;
    left: -24px;
    top: 3px;
}

.about-button button {
    background-color: #ff6a37;
    border: 1px solid #ff6a37;
    position: relative;
    color: white;
    padding: 25px 25px;
    border-radius: 5px;
    font-size: 18px;
    z-index: 1;
    overflow: hidden;
}

.about-button button span {
    position: absolute;
    right: 39px;
    bottom: 30%;
    width: 30px;
    height: 30px;
    background-color: black;
    border-radius: 5px;
    z-index: -1;
    transition-duration: 1s;
}

.about-button button:hover span {

    transform: scale(12);
}

@media screen and (min-width:600px) and (max-width:1200px) {
    .about-us {
        flex-direction: column;
        flex-wrap: nowrap;
        height: 1200px;
        justify-content: space-between;
        align-items: center;
        width: 100%;

    }
}

/*///////ONLINE////////////////////////////////////////////*/
.online {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    position: relative;
    background-color: white;
    margin-top: 40PX;

}

.online-p {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: space-around;
}

.online-p-one {
    color: blue;
    font-size: 22px;
    font-weight: bolder;
}

.online-p-two {
    font-size: 37px;
    font-weight: bold;
}

.online-button button {
    background-color: #ff6a37;
    border: 1px solid #ff6a37;
    position: relative;
    top: 18%;
    color: white;
    padding: 25px 25px;
    border-radius: 5px;
    font-size: 18px;
    z-index: 1;
    overflow: hidden;
}

.online-button button span {
    position: absolute;
    right: 39px;
    bottom: 30%;
    width: 30px;
    height: 30px;
    background-color: black;
    border-radius: 5px;
    z-index: -1;
    transition-duration: 1s;
}

.online-button button:hover span {
    transform: scale(12);
}

.online-course {
    background-color: white;
    width: 80%;
    height: 850px;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;

}

.online-course .online-img {
    width: calc(80% / 3);
    height: 400px;
    box-shadow: 1px 1px 4px 1px gray;
    overflow: hidden;
    position: relative;
}



.online-img img {
    width: 100%;
    height: 50%;
    transition: 0.5s;
}

.online-img:hover img {
    transform: scale(1.1);
}

.online-button-one {
    position: absolute;
    left: 12%;
    top: 36%;
    background-color: #ff6a37;
    border: none;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
}

.online-button-two {
    position: absolute;
    left: 39%;
    top: 36%;
    border: none;
    background-color: #4a4ae2;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;

}

.online-p-three {
    font-weight: bold;
    padding-left: 19px;
    padding-top: 11px;
    font-size: 19px;
}

.online-review {
    position: relative;
    width: 90%;
    display: flex;
    margin-top: 18px;
}

.online-review img {
    width: 50px;
    height: 50px;
    border: 2px solid #eee;
    border-radius: 50%;
    margin-left: 19px;
    overflow: hidden;

}

.online-review .online-review-one {
    color: gray;
    font-size: 14px;
    position: absolute;
    bottom: 20px;
    left: 75px;

}

.online-review-two {
    position: absolute;
    color: gray;
    right: 0;
    bottom: 20px;
}

.online-review::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: gray;
    left: 20px;
    bottom: -10px;
}

.online-review-two span {
    color: orange;
}

.online-price {
    position: relative;
    width: 100%;
    height: 50px;
}

.online-price p {
    position: absolute;
    bottom: 0%;
    left: 6%;
    font-weight: bold;
    color: #af0101;

}

.online-price img {
    position: absolute;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    right: 20%;
    bottom: 0%;
}

.online-price::before {
    content: "";
    position: absolute;
    right: 19%;
    bottom: -5%;
    width: 27px;
    height: 27px;
    border-radius: 50%;
    background-color: rgb(80, 210, 123, 0.2);
}

.online-price span {
    position: absolute;
    right: 6%;
    bottom: 0px;
}

@media screen and (min-width:600px) and (max-width:1200px) {
    .online {
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
        height: 400px;
        width: 100%;
    }

    .online-course {
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
        height: 2500px;
    }

    .online-img {
        width: 75% !important;
    }

    .online-button-one {
        position: absolute;
        left: 50%;
    }

    .online-button-two {
        position: absolute;
        left: 75%;
    }
}

/*events//////////////////////////////////////////////*/
.events {
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    background-color: #eee;
}

.events-left {
    width: 48%;
    height: 100%;
    display: flex;

}

.events-left img {
    position: absolute;
    width: 37%;
    height: 90%;
    top: 5%;
    left: 9%;
    border-radius: 5px;

}

.events-left button {
    position: absolute;
    background-color: #ff6a37;
    width: 17%;
    height: 15%;
    z-index: 1;
    border: 1px solid #ff6a37;
    border-radius: 5px;
    LEFT: 31%;
    bottom: 17%;
    color: white;
    font-size: 18px;
    font-weight: bold;
    animation-name: move-icons;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.events-left button span {
    background-color: #eee;
    padding: 5px;
    border-radius: 50%;
    color: #ff6a37;


}

@keyframes move-icons {
    0% {
        transform: translateX(10px);
        transform: translateY(10px);

    }

    50% {
        transform: translateY(-10px);

        transform: translateX(-10px);

    }

    100% {
        transform: translateX(-10px);
        transform: translateY(-10px);
    }

}

.events-right {
    position: relative;
    width: 48%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: 5%;
}

.events-right .event-p-one {
    color: #4a4ae2;
    font-size: 22px;
    font-weight: bold;
}

.events-right .event-p-two {
    font-size: 50px;
    font-weight: 900;
}

.event-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    background-color: white;
    width: 70%;
    height: 104px;
    border-radius: 5px;
    box-shadow: 1px 1px 3px 0px #dcd6d6;

}



.event-box-p-one {
    position: absolute;
    color: #4a4ae2;
    font-size: 25px;
    font-weight: bold;
    left: 7%;
    top: 18%;

}

.event-box-p-one::after {
    content: "";
    position: absolute;
    width: 1px;
    height: 100%;
    background-color: #80808066;
    bottom: 2%;
    right: -13%;
}

.event-box-p-two {
    position: absolute;
    right: 38%;
    top: 17%;
    color: gray;
    font-size: 15px;
}

.event-box-p-two::after {
    content: "";
    position: absolute;
    width: 1%;
    height: 83%;
    right: -24%;
    background-color: #80808066;
}

.event-box-p-two span {
    position: absolute;
    right: -86%;
}

.event-box-p-three {
    position: absolute;
    right: 12%;
    bottom: 30%;
    font-size: 20px;
    font-weight: bold;
}

@media screen and (min-width:600px) and (max-width:1200px) {
    .events {
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
        height: 1500px;
        position: relative;
    }

    .events-left {
        height: 40%;
    }

    .events-left img {
        height: 50%;
        width: 75%;
    }

    .events-left button {
        position: absolute;
        top: 25%;
        height: 6%;
        width: 30%;
    }

    .events-right {
        height: 40%;
    }

    .event-box {
        width: 148%;
        right: 30%;

    }

}



/*feature//////////////////////////////////////////////*/
.feature {
    width: 100%;
    height: 700px;
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    position: relative;
    background-color: #012247;


}

.feature-right {
    display: flex;
    width: 50%;

}

.feature-right img {
    width: 100%;
    height: 100%;
}

.feature-left {
    color: white;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 110px 80px 80px 80px;
    ;
}

.feature-left-one {
    font-size: 22px;
    color: blue;
    font-weight: 900;
}

.feature-left-two {
    font-size: 65px;
    font-weight: bold;
}

.feature-left-img {
    position: relative;
    margin: 20px;
}

.feature-left-img img {
    width: 50px;
    height: 50px;
}

.feature-left-img-p-one {
    position: absolute;
    left: 12%;
    top: 0;
    font-size: 18px;
    font-weight: bold;
}

.feature-left-img-p-two {
    position: absolute;
    left: 12%;
    bottom: -7%;
    font-size: 14px;
    color: #aba9a9;
}

@media screen and (min-width:600px) and (max-width:1200px) {
    .feature {
        flex-direction: column;
        flex-wrap: nowrap;
        height: 1600px;
        width: 100%;
        justify-content: space-around;
        align-items: center;
    }

    .feature-right {
        height: 50%;
        width: 100%;
    }

    .feature-left {
        height: 50%;
        width: 100%;
    }
}

/*coach//////////////////////////////////////////////////*/
.coach {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.coach-p-one {
    font-size: 20px;
    font-weight: bold;
    color: blue;
}

.coach-p-two {
    font-size: 42px;
    font-weight: bold;
    position: absolute;
    top: 65%;
}

.coach-img {
    position: relative;
    width: 80%;
    height: 380px;
    margin: 50px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;


}

.coach-img-icons {
    position: relative;
    width: calc(80% /4);
    background-color: #eee;
    border-radius: 5px;
    height: 400px;
}

.coach-instructor {
    width: 86%;
    margin: 7%;
    height: 50%;
    border-radius: 5px;
    transition: 0.5s;

}

.fa-facebook,
.fa-twitter,
.fa-instagram {
    font-size: 30px;
    color: black;
    background-color: white;
    border-radius: 50%;
    padding: 7px;
}

.coach-instructor-icons {
    position: absolute;
    bottom: 21%;
    opacity: 0;
    transition: 1s;
    left: 20%;


}

.coach-img-icons:hover .coach-instructor-icons {
    transform: translateY(-120px);
    opacity: 1;
}

.fa-facebook:hover {
    color: #ff6a37 !important;
}

.fa-twitter:hover {
    color: #ff6a37 !important;
}

.fa-instagram:hover {
    color: #ff6a37 !important;
}

.coach-img-icons:hover .coach-img-p-one {
    color: #ff6a37;
}

.coach-img-icons:hover .coach-instructor {
    transform: scale(1.1);
}

.coach-img-p-one {
    position: absolute;
    left: 25%;
    font-size: 20px;
    font-weight: bold;
}

.coach-img-p-two {
    position: absolute;
    left: 34%;
    bottom: 10%;
    font-size: 18px;
    color: blue;
}

.coach-img a img {
    position: absolute;
    width: 30px;
    height: 30px;
    margin-left: 10px;
}

@media screen and (min-width:600px) and (max-width:1200px) {
    .coach-img {
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
        height: 1800px;
    }

    .coach-img-icons {
        width: 60%;
        height: 400px;
        margin-bottom: 4%;

    }

    .coach-instructor {
        width: 86%;
        height: 50%;
    }


}

/*client//////////////////////////////////////////////////////////*/
.client {
    width: 100%;
    height: 600px;
    background-color: #eee;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}

.client-left {
    width: 45%;
    position: relative;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 31px;
}

.client-left-one {
    font-size: 20px;
    color: blue;
    font-weight: bold;
}

.client-left-two {
    font-size: 57px;
    font-weight: bold;
}

.client-left-three {
    color: gray;
}

.client-right {
    width: 45%;
    position: relative;
    height: 300px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
    box-shadow: -1px 1px 8px 0 gray;
    padding: 31px;
}

.client-right-one {
    font-size: 18px;
    color: gray;
    margin: 20px 0;
}

.client-right-img {
    width: 90%;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.client-right-img-img {
    border-radius: 5px;
    border: 6px solid white;
    outline: 2px solid orange;
    position: absolute;
    left: 10%;
}

.client-right-img-one {
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    left: 34%;
    bottom: 35%;
}

.client-right-img-two {
    font-size: 14px;
    position: absolute;
    left: 39%;
    color: #ff6a37;
    bottom: 25%;
}

.client-right-img-img-two {
    position: absolute;
    right: 12%;
}

@media screen and (min-width:600px) and (max-width:1200px) {
    .client {
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
        height: 1000px;
    }

    .client-left {
        width: 75%;
        height: 50%;
    }

    .client-right {
        width: 75%;
        height: 50%;
    }

    .client-right-img-one {
        top: 45%;
    }

    .client-right-img-two {
        top: 51%;
    }
}

/*contact-us//////////////////////////////////////*/
.contact-us {
    width: 80%;
    margin: 0 10%;
    height: 200px;
    background-color: blue;
    position: relative;
    top: 100px;
    display: flex;
    justify-content: space-around;
    border-radius: 26px;
}

.contact-us img {
    width: 35%;
    position: absolute;
    left: 0;
    border-radius: 26px;
}

.contact-us p {
    color: white;
    z-index: 1;
    font-size: 46px;
    font-weight: bold;
    padding: 31px;
}

.contact-us button {
    background-color: #ff6a37;
    border: 1px solid #ff6a37;
    position: relative;
    top: 20%;
    color: white;
    padding: 25px;
    border-radius: 5px;
    font-size: 18px;
    z-index: 1;
    height: 37%;
    width: 15%;
    overflow: hidden;
}

.contact-us button span {
    position: absolute;
    right: 39px;
    bottom: 30%;
    width: 30px;
    height: 30px;
    background-color: black;
    border-radius: 5px;
    z-index: -1;
    transition-duration: 1s;

}

.contact-us button:hover span {

    transform: scale(12);
}

@media screen and (min-width:600px) and (max-width:1200px) {

    .contact-us {
        flex-direction: column;
        flex-wrap: nowrap;
        height: 400px;
        justify-content: space-around;
        align-items: center;
    }

    .contact-us img {
        width: 35%;
        position: absolute;
        left: 0;
        top: 0;
        width: 75%;
    }

    .contact-us p {
        font-size: 35px;
    }

    .contact-us button {
        width: 37%;
        height: 18%;
        top: 0% !important;
    }

}

/*FOOTER///////////////////////////////////////*/
footer {
    background-color: #3a3885;
    color: #fff;
    padding-top: 50px;
    height: 600px;
}


.footer-inner {

    display: flex;
    width: 90%;
    height: 400px;
    margin: 20px 5%;
    padding: 0;
    font-size: x-large;
    height: 600px;
}

.footer-column {
    display: flex;
    margin-right: 20px;
    flex-direction: column;
    justify-content: center;
    width: 30%;
    position: relative;
}

.footer-column:last-child {
    margin-right: 0;
}

.logo img {
    position: absolute;
    top: 14%;
}

.footer-column h2 {
    font-size: 30px;
    margin-bottom: 10px;
    position: absolute;
    top: 19%;
}

.footer-column p {
    font-size: 14px;
    margin-bottom: 10px;
    margin-top: 10px;

}

.footer-column ul {
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 36%;
}

.footer-column li {
    margin-bottom: 7px;

}

.footer-column a {
    color: gray;
    text-decoration: none;

}

.footer-column a:hover {
    color: white;
}


.footer-column .btn {
    width: 300px;
    height: 50px;
    position: absolute;
    top: 36%;



}

.footer-column button {
    position: absolute;
    display: inline-flex;
    flex-direction: row;
    width: 50px;
    height: 45px;
    background-color: rgba(0, 0, 0, 0.3);


}

.footer-column button span {
    width: 50px;
    height: 45px;
    background-color: orange;
    align-items: center;
    justify-content: center;
    display: flex;
}


@media screen and (min-width:600px) and (max-width:1200px) {
    .footer-inner {
        width: 100%;
        flex-direction: column;
        flex-wrap: nowrap;
        height: 1000px;
        margin: 0;
    }

    .footer-column {
        background-color: #3a3885;
        justify-content: space-around;
        align-items: center;
        height: 100%;
        width: 100%;
        margin: 0 !important;
    }

    .logo {
        width: 25%;
        height: 10%;
        position: absolute;
        left: 5%;
        top: 3%;
    }

    .p-media {
        width: 77%;
        text-align: start;
        padding-top: 29px;
    }
}